body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Hintergrundfarbe */
}

.container {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 90px;
    text-align: center;
    max-width: 600px;  
}

.questionnaire {
    margin: 0 auto; /* Zentriert das Element horizontal */
    width: 90%; /* Stellt die Breite des Fragebogens ein */
    max-width: 600px; /* Maximale Breite, gut für größere Bildschirme */
    text-align: center; /* Zentriert den Text innerhalb des Fragebogens */
}

.question {
    margin-bottom: 20px; /* Fügt etwas Platz zwischen den Fragen hinzu */
}

select {
    width: 100%; /* Stellt sicher, dass die Dropdowns die volle Breite nutzen */
    padding: 10px; /* Fügt etwas Innenabstand hinzu für bessere Klickbarkeit */
    margin-top: 10px; /* Fügt etwas Platz oberhalb des Dropdowns hinzu */
}

button {
    padding: 15px 30px; /* Größere Schaltflächen für einfacheres Klicken */
    font-size: 16px; /* Größere Schrift für bessere Lesbarkeit */
}
.ratgeber {
    background-color: #f8f8f8; /* Hintergrundfarbe */
    padding: 20px; /* Innenabstand */
    margin-top: 20px; /* Abstand von oben */
    border-radius: 5px; /* Abgerundete Ecken */
}

.ratgeber h2 {
    color: #333; /* Farbe der Hauptüberschrift */
    margin-bottom: 15px;
    font-size: 24px; /* Größere Schrift für Hauptüberschrift */
}

.ratgeber h3 {
    color: #972F2F; /* Farbe der Schritt-Überschriften */
    margin-top: 35px;
    margin-bottom: 25px;
    font-size: 20px; /* Größere Schrift für Schritt-Überschriften */
}

.ratgeber .highlighted-text {
    font-weight: bold; /* Macht den Text dicker */
    margin-bottom: 5px; /* Kleiner Abstand nach dem hervorgehobenen Text */
}

.ratgeber p {
    margin-bottom: 20px; /* Abstand zwischen den Absätzen */
    line-height: 1.6; /* Zeilenhöhe */
    color: #666; /* Farbe des Textes */
}

/* Responsive Design für kleinere Bildschirme */
@media (max-width: 600px) {
    body, p, h1, h2, h3 {
        font-size: 18px; /* Größere Schriftgröße */
    }

    .container, .questionnaire, .ratgeber {
        padding: 10px; /* Reduzierter Seitenabstand */
        max-width: 100%;
    }

    button {
        width: 100%; /* Button nimmt die volle Breite ein */
        padding: 15px 0; /* Größerer vertikaler Abstand */
        font-size: 18px;
    }

    h1 {
        font-size: 24px; /* Größere Schrift für Hauptüberschrift */
    }

    h2 {
        font-size: 22px; /* Größere Schrift für Unterüberschriften */
    }

    h3 {
        font-size: 20px; /* Größere Schrift für kleinere Überschriften */
    }

    .question {
        margin-bottom: 15px; /* Größerer Abstand zwischen Fragen */
    }

    select {
        width: 100%; /* Dropdown-Menüs nehmen die volle Breite ein */
        padding: 10px; /* Mehr Innenabstand für Dropdowns */
        font-size: 16px; /* Größere Schrift in Dropdowns */
    }
}



}